.App {
  text-align: center;
}

.nav-item1{
  padding-left: 500px;
  
}
.nav-item8{
  padding-left: 1200px;
  
}
.nav-item10{
  padding-left: 900px;
}
/* .nav-item2{
  padding-left: 13px;
  padding-top: 13px;
}

.nav-item3{
  padding-left: 13px;
  padding-top: 13px;
} */